@{
    ViewData["Title"] = "Projects";
}

<!-- 2-5-2021
Author: Eric Dee
http://EricDeeTTSTS.com/ -->

<head>
    <link href="~/css/boot.css" rel="stylesheet" runat="server" />
</head>

<body>

    <header>
        <meta charset="uft-8" />
        <meta name="author" content="Eric Dee">
        <meta name="description" content="Projects new and old.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>

    <datalist id="Instructions">
        <option value="go index" />
        <option value="go projects" />
        <option value="view history" />
        <option value="view roadmap" />
        <option value="view sourcecode" />
        <option value="reset" />
        <option value="to red" />
        <option value="to blue" />
        <option value="to gray" />
        <option value="to pink" />
        <option value="to black" />
        <option value="to brown" />
        <option value="to green" />
        <option value="to white" />
        <option value="to orange" />
        <option value="to purple" />
        <option value="to yellow" />
    </datalist>

    <div class="TopNavigationLink">

        <p class="Centered"><a class="TopSideIndexLinks" asp-area="" asp-controller="Home" asp-action="Index">&#8767</a></p>

    </div>

    <div class="BelowNavigation">

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">Designing A New Computer Language</h2>
                <h3 class="ProjectIdentifiers">TTSTS</h3>

                <p class="ProjectsParagraph">
                    I work on my own computer language from time to time. It is currently capable of interpreting inputs, and in a simplification phase.
                    The next phase will be writing out custom methods, and giving it serialization functionalities.
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/atolbmaker/ttsts" target="_blank">C# repo on Github (x.2)</a>
                </p>

                <br />

                <div class="ProjectsFlexibleImages">

                    <a class="Flex" href="~/DisplayMedia/CodeExample2.png" target="_blank">
                        <img class="FlexProjectsImages Light" src="~/DisplayMedia/CodeExample2.png" alt="Your browser won't display this image." />
                    </a>

                    <a class="Flex" href="~/DisplayMedia/Diagrams/TTSTS Both Diagrams.png" target="_blank">
                        <img class="FlexProjectsImages Light" src="~/DisplayMedia/Diagrams/TTSTS Both Diagrams.png" />
                    </a>

                </div>

            </div>

        </div>

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">North Central Technical College - IT Software Development</h2>

                <h3 class="ProjectIdentifiers">Database design</h3>
                <h3 class="ProjectIdentifiers">Debugging</h3>
                <h3 class="ProjectIdentifiers">Object oriented applications</h3>
                <h3 class="ProjectIdentifiers">Web design</h3>

                <p class="ProjectsParagraph">
                    C#, .NET syntax, file/data adjustment, various WPF applications implementing n-tier design ideations, collections, encryption, initializers, LINQ, serializing, streams, XML.
                    any questions, you can check the entire Associates program model
                    <a class="UnstyledLink" href="https://www.ntc.edu/academics-training/programs/all/associate-degree/it-software-developer#courses" target="_blank">here</a>.
                </p><br />

                    <p>
                        SQL also sufficiently covered. Activity, Class, Data Dictionary, ERD (Chen - Crowsfoot, etc), Object, Sequence, UML, Wire Frames, planning / diagram models are a part of each course, and are practiced in detail.
                    </p><br />

            </div>

            <div class="ProjectsFlexible">

                <h2 class="Index">Site</h2>
                <h3 class="ProjectIdentifiers">Emulation</h3>

                <p class="ProjectsParagraph">
                    As part of the language project, I am building out a site capable of reasonable levels of IDE emulation. This was the second draft.
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/ericdeettsts/02-16-2021-Website-Written-In-ASP.NET-With-CSharp">ASP.NET, C# repo on Github</a>
                </p>

                <p class="ProjectsParagraph">
                    <a href="~/DisplayMedia/Capture.png">
                        <img class="FlexibleProjectsImages Dark" src="~/DisplayMedia/Capture.png" alt="Your browser won't display this image." />
                    </a>
                </p>
            </div>

        </div>

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">Synthesizer</h2>
                <h3 class="ProjectIdentifiers">Buffering</h3>

                <p class="ProjectsParagraph">
                    My hobbies include sound design, and I often program synthesizers, VSTs, and other digital audio workstation components.
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/atolbmaker/synth1">C# repo on Github</a>
                </p>

                <div class="ProjectsFlexibleImages CenterProjectsImageGroup">

                    <p class="ProjectsParagraph">
                        <a href="~/DisplayMedia/Synthesizer Oscilloscope.PNG" target="_blank">
                            <img class="Reduced2 Light" src="~/DisplayMedia/Synthesizer Oscilloscope.PNG" alt="Your browser won't display this image." />
                        </a>
                    </p>

                </div>

                <p class="ProjectsParagraph">
                    <video class="ProjectsImages IMGCenter Light" controls>
                        <source src="~/DisplayMedia/Videos/SFinal.mp4" type="video/mp4">
                    </video>
                </p>

            </div>

            <div class="ProjectsFlexible">

                <h2 class="Index">Operating system</h2>
                <h3 class="ProjectIdentifiers">Bootables</h3>

                <p class="ProjectsParagraph">
                    Part of becoming a more knowledgable programmer.
                </p>

                <p class="ProjectsParagraph">
                    <a class="ProjectsLinks" href="https://github.com/atolbmaker/OS">Fasm repo on Github</a>
                </p>

                <p class="ProjectsParagraph">
                    <a href="~/DisplayMedia/ConvertingBinary3.png" target="_blank">
                        <img class="Reduced Dark" src="~/DisplayMedia/ConvertingBinary3.png" alt="Your browser won't display this image." />
                    </a>
                </p>

            </div>

        </div>

        <div class="ProjectsBorder">

            <div class="ProjectsFlexible">

                <h2 class="Index">Theme</h2>
                <h3 class="ProjectIdentifiers">Proactive work</h3>

                <p>
                    I enjoy learning all pieces of the computer, from the foundations of electrical engineering, up to the software development stages.
                </p>

                <p class="ProjectsParagraph">
                    <img class="CenterImage" src="~/DisplayMedia/UnderInput.png" alt="Your browser won't display this image." />
                </p>

            </div>

        </div>

        <div class="ProjectsBorder">
            <div class="FlexibleArticles">
                <section class="ArticlesArrayFlexible">
                    <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Index">Return home.</a></h3>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="ArticleImages" src="~/DisplayMedia/Capture.png" alt="Sorry, your browser did not display this image for some reason." />
                    </a>
                </section>
                <section class="ArticlesArrayFlexible">
                    <h3><a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">View my source code.</a></h3>
                    <a class="UnstyledLink" asp-controller="Home" asp-action="Sourcecode">
                        <img class="ArticleImages" src="~/DisplayMedia/CodeExample2.png" alt="Sorry, your browser did not display this image for some reason." />
                    </a>
                </section>
                <section class="ArticlesLinksFlexible">
                    <section class="NoMobileDisplay">
                        <h3 class="ContentDisplay">Explore computer theory concepts</h3>
                        <p><a class="ArticlesLink" href="/TextForArticleConversion/Developersalgorithms.html">Algorithms</a></p>
                        <p><a class="ArticlesLink" href="~/TextForArticleConversion/Acomputerlanguage.html">Designing Your Own Language</a></p>
                        <p><a class="ArticlesLink" href="/TextForArticleConversion/Buildinganoperatingsystem.html">Operating Systems</a></p>
                        <p class="Break"><a class="ArticlesLink" href="/TextForArticleConversion/Creatingasoftwaresynthesizer.html">Synthesizers</a></p>
                        <h3 class="ContentDisplay">View the whole collection</h3>
                        <p><a class="ArticlesLink" href="/TextForArticleConversion/Allarticles.html">Everything</a></p>
                    </section>
                </section>
            </div>
        </div>

    </div>

</body>